{% extends 'layout.jinja2' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="formwrapper">
  <ul class="nav">
    <li><a href="http://localhost:5002/">Home Page</a></li>
    <li><a href="http://localhost:5002/reservations">Reserve a Seat</a></li>
  </ul>
  <h2 class="title">Administrator Login</h2>
  <table class = "table__header">
    <tr class = "table__header">
      {% for header in title %}
      <th class = "table__cell">{{header}}</th>
      {% endfor %}
    </tr>
    {% for row in ResList %}
    <tr class = "table__row">
      {% for cell in row %}
      <td class = "tabel__cell">{{ cell }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <p style="color:red;">{{ error }}</p>
  <p>{{ total }}</p>
  <form method="POST" action="/admin">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.username.label }} {{ form.username }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="form-field">{{ form.password.label }} {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      {{ form.login }}
  </form>
  
</div>
{% endblock %}